.main-content{
    display: flex;
    flex-direction: row;
    height: 700px;
}

.tasks-content{
    width: 500px;
}

.create-task {
    background-color: var(--button-bg-color);
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin-top: 60px;
    margin-left: 60px;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 10px;
    background-color: var(--button-bg-color);
    width: 500px;
    height: 308px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 60px;
}

.charts-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: var(--button-bg-color);
    width: 800px;
    height: 600px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: auto;
    margin-top: 60px;
    margin-left: 80px;
}

.task-infos {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 5px;
}

.task-name {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.task-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header controls"
        "content controls"
        "footer controls";
    width: 95%;
    height: fit-content;
    border-radius: 5px;
    border: none;
    border-left: 2px solid var(--in-progress-color);
    margin-bottom: 10px;
    background-color: var(--button-bg-color);
    color: var(--ai-text-color);
    padding: 15px;
    font-size: 13px;
    gap: 5px;
}

.task-checkbox-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    transform: translateY(20px);
    transform: translateX(10px);
}

.task-date,
.task-time,
.remaining-time {
    display: inline-block;
    background-color: rgb(82, 82, 82);
    border-radius: 10px;
    padding: 5px;
    font-size: 9px;
    position: static;
    margin: 0;
}


.task-priority,
.task-effort {
    display: inline-block;
    background-color: #333;
    border-radius: 10px;
    padding: 5px 8px;
    font-size: 9px;
    margin: 0;
    position: static;
    transform: none;
}

#task-name::placeholder {
    color: var(--ai-text-color);
    text-decoration: wavy;
}

#task-date {
    width: 65%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

#task-time {
    width: 33.5%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

#task-description,
#task-name {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    resize: none;
}

.create-task-button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
}

.day-choice.active {
    display: inline-block;
}

#task-duration {
    display: inline-block;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 13px;
    margin-top: 5px;
}

#task-priority {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 13px;
    margin-top: 5px;
}

#task-repeatable-days {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    font-size: 13px;
}

.day-choice input,
.day-choice{
    width: 16px;
    height: 20px;
    margin-left: 24px;
    background-color: var(--button-bg-color);
    display: none;
}

.advanced-options {
    display: none;
}

.advanced-options.visible{
    display: inline-block;
}

.subtask-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: var(--button-bg-color);
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    max-height: 100px;
    overflow-y: auto;
}

.subtask {
    background-color: var(--button-bg-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--ai-text-color);
}

.delete-subtask-button,
.edit-subtask-button {
    position: relative;
    left: 290px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: aliceblue;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 2px;
}

.delete-subtask-button:hover,
.edit-subtask-button:hover {
    background-color: var(--button-bg-color);
}

.advanced-toggle-button {
    width: fit-content;
    height: 23px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-settings {
    grid-area: footer;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
    font-size: 12px;
    align-items: center;
    margin-top: 8px;
}

.task-settings > div,
.task-settings > label {
    background-color: #333;
    padding: 5px 8px;
    border-radius: 8px;
}

.task-description {
    grid-area: content;
    font-size: 12px;
    opacity: 0.8;
    white-space: normal;
    overflow: visible;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 5px 0;
    line-height: 1.4em;
    display: block;
    visibility: visible;
    padding: 0;
    max-height: none;
    transform: translateY(-2px);
}

.task-controlls {
    grid-area: controls;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

#task-location {
    width: 30%;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

#milestone-select {
    width: 30%;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 4px;
    font-size: 13px;
    margin-bottom: 10px;
}

#task-notes {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    resize: none;
}

#task-tags {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

#task-color {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

#task-deadline {
    width: 26%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

#task-effort {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 13px;
    margin-top: 5px;
}

.add-subtask-button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-bg-color);
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

.edit-task-button,
.delete-task-button {
    width: 25px;
    height: 25px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    color: white;
    cursor: pointer;
}

.edit-task-button:hover,
.delete-task-button:hover {
    background-color: var(--button-hover-bg-color);
 }

.task-checkbox-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    transform: none;
    z-index: 5;
}

.task-checkbox-container input[type="checkbox"] {
    display: none;
}

.task-checkbox-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.task-checkbox-container input[type="checkbox"] + label {
    background-color: rgb(156, 156, 156);
    color: transparent;
}

.task-checkbox-container input[type="checkbox"]:checked + label {
    background-color: green;
    color: white;
}

.task-item.completed .task-name,
.task-item.completed .task-description {
    text-decoration: line-through;
    opacity: 0.7;
}

.task-item.completed {
    border-left: 2px solid var(--completion-color);
    background-color: var(--completed-bg-color);
}